language: python
python:
  - "3.6"
install:
  - pip install -r requirements.txt
script: true
    - nosetests --with-coverage --coverage report
script: 
  - python TestCalculator.py
deploy:
  provider: heroku
  api_key:
    secure: dbbeeb66-c696-4aca-b1ee-8b5261ce8a77
  app: test-tt
  on:
    all_branches:true
    repo:Chen-Yu-Xiang/test1
  #Setting your heroku Procfile here!!!
  run:
    "web: gunicorn app_run:app"  
    